#map {
    height:400px;
    width: 100%;
}

:root {
    --primary: #2B580C;
    --secondary: #639A67;
    --tertiary: #D8EBB5;
    --final: #D9BF77;
}

header {
    text-align: center;
    background-color: var(--primary);
}

body {
    background-color: rgb(105, 11, 11);
}

nav {
    font-size: large;
}

footer {
    text-align: center;
    margin: 0rem 0rem 4rem;
   background-color: #2B580C;
}